@import 'variables';
@import 'resets';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

// Typography.

* {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

h1 {
  font-size: 24px;
  font-weight: 400;
}

h2 {
  font-size: 18px;
  font-weight: 400;
}

h3 {
  font-size: 15px;
  font-weight: 600;
}

.jl-text-caption {
  font-size: 12px;
  color: $color-grey-600;
}
// Layout.

.jl-flex-spacer {
  flex: 1 1 auto;
}

.jl-divider {
  height: 1px;
  width: 100%;
  margin: 10px 0;
  border-top: 1px solid $color-grey-300;
}
