@import '../../styles/variables';

.jl-header-toolbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: $header-height;
  z-index: 10;
}

.jl-header-logo {
  margin: 10px 10px 0 20px;
}

.jl-header-title {
  margin-left: 15px;
  letter-spacing: 1px;

  h2 {
    color: $color-white;
    font-size: 25px;
    font-weight: 300;
  }

  h3 {
    margin-left: 20px;
    padding: 1px 0 0 20px;
    border-left: 1px solid $color-white-mid-opacity;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
  }
}
