<div class="jl-sidenav">
  <md-nav-list>
    <a md-list-item (click)="onNavToRoute(rootPageConfig.home)">
      <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <span>GO HOME</span> <md-icon color="accent">home</md-icon>
      </div>
    </a>
    <div class="jl-divider"></div>
    <a md-list-item (click)="onNavToRoute(rootPageConfig.foo)">
      <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <span>GOT TO FOO</span> <md-icon color="primary">toys</md-icon>
      </div>
    </a>
    <a md-list-item (click)="onNavToRoute(rootPageConfig.bar)">
      <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <span>GOT TO BAR</span> <md-icon color="primary">rowing</md-icon>
      </div>
    </a>
  </md-nav-list>

  <div class="jl-divider"></div>

  <div class="jl-sidenav-logo">
    <p>Powered by</p>
    <img src="./images/logo-prodops-sidebar.png">
  </div>
</div>
